# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS-specific
.DS_Store
Thumbs.db

# Environment
.env

# Docker
*.jar
*.war
*.ear
docker-compose.override.yml
